{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h1>🎉 Проект запущен!</h1>
                <p class="lead">Django успешно работает!</p>
                <div class="mt-4">
                    <a href="/admin/" class="btn btn-primary">Перейти в админку</a>
                    <a href="/" class="btn btn-outline-secondary">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}